<div class="container">
    {{#urlEntities}}
        <p>
            <span style="font-weight: bold;">seq</span> : {{seq}}<br/>
            <span style="font-weight: bold;">원본URL</span> : {{originUrl}}<br/>
            <span style="font-weight: bold;">요청수</span> : {{count}}<br/>
            <span style="font-weight: bold;">입력날짜</span> : {{insertDate}}<br/>
        </p>
    {{/urlEntities}}
</div>